.block_preview {

    .col {
        padding    : 0;
    }

    .line .line {
        margin : 0;
    }

    .content {
        background : #B7D4E7;
        border     : 1px solid #fff;
        min-height : 40px;
        box-sizing : border-box;

        .block_title {
            font-weight : bold;
            text-align  : center;
        }
    }
}
