.block_preview {

    .col {
        padding : 0;
    }

    .content {
        background : #BFDDFF;

        border     : 1px solid #fff;

        .block_title {
            font-weight : bold;
            text-align  : center;
        }
    }
}
